<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>Meeth Tour</h1>
  </div>

  <form onsubmit="submitFunction()" action="#"></form>
    Tournummer:<br>
    <input id="Tournummer"><br>
    <button onclick="submitFunction()">Bestätigen</button>
  
</body>

</html>